* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    flex-direction: column;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canvas {
    background-color: #606060;
}

.button-container {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
}

.button-container button {
    margin-top: 50px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #606060;
    color: #1a1a1a;
    cursor: pointer;
    transition: transform ease 0.3s;
}

.button-container button:focus {
    outline: none;
}

.button-container button:hover {
    transform: scale(1.3);
}

.game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    /* margin: auto; */
}

.score {
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    flex-direction: column;
}

.score .number {
    font-size: 30px;
    background-color: #606060;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.game .nextBlock {
    color: white;
    font-size: 30px;
    height: auto;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
}

.game .nextBlock .nextBlockCanvas {
    background-color: #606060;
    margin-top: 5%;
    border-radius: 10px;
}

.controller {
    display: none;
}

@media screen and (max-width: 1250px) {
    body {
        justify-content: flex-start;
    }
    .game {
        flex-direction: column;
    }
    .game .nextBlock {
        margin: 5px 0;
        font-size: 130%;
    }
    .game .nextBlock .nextBlockCanvas {
        margin-top: 5px;
    }
    .score {
        margin-top: 5px;
        font-size: 150%;
        width: auto;
        height: 10%;
    }
    .button-container {
        width: 50%;
    }
    .button-container button {
        padding: 2px 10px;
        font-size: 13px;
        margin-top: 40px;
    }

    .controller {
        display: block;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60%;
    }
    .controller button {
        width: 20%;
        background-color: #606060;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
